* {
  margin: 0;
  padding: 0;
}

body {
    background-color:#CBD0CC
    
}
header {margin: 10px 0px 0px 10px; background: url(http://testua.com/img/back-4.jpg) 20% 20% no-repeat;   }
.vcenter {
    
}

.h_serv {
    font:16pt Eras Bold ITC;
    text-shadow: 2px 1px 3px #003300;
    text-align: center;
    color:azure;
}
.row {
    padding: 10px 0px 5px 0px;
}

.sec_block{
 height: 135px; 
 display: table;
}

.contacts {
    display: :
    width:190px;
    max-height: 150px;
    font:14pt DFMincho-SU;
    text-align: center;
}

.contacts a {
    color:mediumblue;
}

.contacts a img {
    margin-bottom: 12px;
} 
.contacts a span {
    margin-bottom: 9px
}

.row href {margin: 5px 0px 5px 0px}
.basket {height: :100px;width: 100px}
.h3 {text-decoration-color: green}
.modcolor {background-color: aliceblue}
.posright {float:right}
